.body {
	background-color: #243d92;
}

.logintext {
	margin-top: 5px;
	margin-left: 5px;
}

.login1 .logintext{
	display: block;
}

.login1 .loginlabel{
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
}

.loginwrap {
	margin: auto;
	width: 200px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 250px;
}

.loginbutton {
	height: 50px;
	width: 184px;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 16px;
}

.checkbox {
	margin-left: 6px;
}