body {
color: white;
font-family: "Roboto Condensed";
text-align: center;
box-sizing: border-box;
}
.logo {
height: 125px;
border: 10px solid #887CAF;
background-color:white;
}
.space {
background-color: navy;
width: 320px;
height: 480px;
padding-top: 10px;
border: 10px solid black;

}
.button {
	margin-bottom:15px;
}
h2 {
	text-align:center;
	margin-bottom:5px;
}
h3 {
	text-align:center;
	margin-top:30px;
	margin-bottom:5px;
}
.selectpadding {
	margin-bottom:20px;
	text-align:center;
}
.radioform {
	text-align: left;
}